SERVICIOS/src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/SERVICIOS/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="listardepartamentos" type="tns:listardepartamentos"/>

<xs:element name="listardepartamentosResponse" type="tns:listardepartamentosResponse"/>

<xs:complexType name="listardepartamentos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listardepartamentosResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departamento">
<xs:sequence>
<xs:element name="banos" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="habitaciones" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
<xs:element name="valorarriendo" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>